extends ../layout

block content
  section(id="cuenta-container")
    div.container
      div.row
        div.col-xs-12.col-md-9
          div.list-group
            div.list-group-item.list-group-item-action.active
              h5.list-group-heading Activación de Cuenta
            div.list-group-item.list-group-item-action
              h2 Su cuenta ha sido activada.
